* {
    box-sizing: border-box;
}

html {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
}


/* width */

::-webkit-scrollbar {
    width: 20px;
    opacity: 0;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
    opacity: 0;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
    opacity: 0;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
    opacity: 0;
}

#main-container {
    width: 100%;
    min-height: 670px;
    height: 100%;
    background-image: url("/images/bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover cover;
    position: relative;
    transition: 1s;
}

#nav-bar {
    width: 100%;
    display: block;
    min-height: 75px;
    background-color: rgba(0, 0, 0, .7);
    color: #ffffff;
    /*position: absolute;   For some reason THIS  messes with the javascript code...*/
}

.nav-title {
    font-family: "Comfortaa";
    min-width: 100px;
    font-size: 22px;
    /*border: 1px dashed #ffb70b;*/
    position: absolute;
    top: 25px;
    left: 25px;
}

.bg-img-container {
    max-width: 475px;
    margin: 0 auto;
    padding: 0;
    font-family: "Tajawal", sans-serif;
    font-weight: 900;
    font-size: 18px;
    list-style-type: none;
    position: relative;
}

.bg-img-container li {
    margin: 15px 10px;
    padding: 5px 30px;
    border: 2px solid #ffffff;
    display: inline-block;
    border-radius: 40px;
    filter: contrast(200%) grayscale(100%);
    opacity: .6;
    transition: .5s;
}

.bg-0 {
    background-image: url("/images/bg-icon.png");
}

.bg-1 {
    background-image: url("/images/bg1-icon.png");
}

.bg-2 {
    background-image: url("/images/bg2-icon.png");
}

.bg-3 {
    background-image: url("/images/bg3-icon.png");
}

.bg-img-container li:hover {
    filter: contrast(100%) grayscale(0%);
    opacity: 1;
}

.nav-active {
    filter: contrast(100%) grayscale(0%) !important;
    opacity: 1 !important;
}

#content-container {
    max-width: 1200px;
    min-height: 670px;
    margin: 0px auto;
    position: relative;
    padding: 0px;
}


/*================================================================================================
====QUESTIONS CONTAINER===========================================================================
================================================================================================*/

#questions-test-container {
    display: none;
}


/*=======================Copy Section===========================*/

#copy-container {
    width: 500px;
    height: 500px;
    position: absolute;
    /*border: 1px solid #ffffff;*/
    color: #ffffff;
    top: 20%;
    left: 5%;
}

#copy-container img {
    max-width: 340px;
    margin: 0px auto;
    display: block;
    /*border: 1px solid #ffffff;*/
}

#copy-container h1 {
    font-family: "Comfortaa", sans-serif;
    font-size: 80px;
    font-weight: 500;
    /*border: 1px solid #ffffff;*/
    margin: 20px 0px 0px 0px;
}

#copy-container p {
    font-family: "Tajawal", sans-serif;
    font-size: 25px;
    font-weight: 700;
    /*border: 2px solid #0cdd63;*/
    margin: -20px 0px 0px 0px;
    text-align: right;
    padding-right: 20px;
    letter-spacing: 3px;
}


/*=======================Copy Section END===========================*/


/*=======================Questions Section===========================*/

#questions-container {
    min-width: 300px;
    width: 40%;
    max-width: 500px;
    min-height: 500px;
    margin: 0px;
    padding: 27px 27px 47px 27px;
    position: absolute;
    top: 20%;
    right: 7%;
    color: #ffffff;
    background-color: rgba(0, 0, 0, .4);
    border-top-left-radius: 30px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
}

#questions-container h3 {
    text-align: right;
    margin: 0px;
    padding: 0px 20px 0px 0px;
    font-family: "Comfortaa", sans-serif;
    font-size: 60px;
    font-weight: 100 !important;
    /*border: 2px solid #0cdd63;*/
}

#questions-container h4 {
    text-align: center;
    margin: 0px;
    padding: 30px 0px 10px 0px;
    font-size: 23px;
    font-family: "Tajawal", sans-serif;
    font-weight: 700;
    /*border: 2px solid #0cdd63;*/
}

.select-btn {
    max-width: 360px;
    height: 50px;
    margin: 16px auto;
    padding: 0px;
    border-radius: 70px;
    background-color: rgba(0, 0, 0, .4);
    transition: .45s;
    /*This simple transition effect made a
    complete differenc in everything. It smooths everything out!!!*/
}

.option {
    width: 50px;
    height: 50px;
    text-align: center;
    font-family: "Tajawal", sans-serif;
    font-weight: 900 !important;
    font-size: 20px;
    padding-top: 13px;
    margin: 0px;
    position: absolute;
    transition: .45s;
}

.select-btn p {
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 20px;
    font-family: "Tajawal", sans-serif;
    font-weight: 700;
    display: inline-block;
    padding-top: 13px;
    margin: 0px;
    position: relative;
    transition: .45s;
}

.select-btn:hover {
    box-shadow: 0px 0px 20px 1px #02b294;
    max-width: 370px;
    height: 60px;
    cursor: pointer;
}

.select-btn p:hover {
    color: #ffb70b;
    font-size: 22px;
}

.option:hover {
    color: #ffb70b;
    font-size: 22px;
}


/*=======================Questions Section END===========================*/


/*================================================================================================
====QUESTIONS CONTAINER=END=======================================================================
================================================================================================*/


/*================================================================================================
====LIST CREATION CONTAINER=======================================================================
================================================================================================*/

#list-content-container {
    color: #ffffff;
    font-family: "Comfortaa", sans-serif;
    /*border: 1px dashed #cccccc;*/
    width: 100%;
    min-height: 300px;
    display: none;
}

#list-header {
    width: 100%;
    /*border: 2px solid #000000;*/
}

#list-header h1 {
    font-size: 47px;
    text-align: center;
    padding-top: 20%;
    margin: 0px 0px 20px 0px;
}

#input-container {
    /*border: 3px dashed #02b294;*/
    text-align: center;
}

#input-container input {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-family: "Tajawal", sans-serif;
    font-weight: 900;
}

#input-container button {
    background-image: linear-gradient(to bottom right, #363636, #272727);
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-family: "Tajawal", sans-serif;
    font-weight: 900;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    transition: .3s;
}

#input-container button:hover {
    color: #ffb70b;
    cursor: pointer;
}

#box-section {
    padding-top: 10px;
    max-height: 400px;
    color: #949494;
    /*background-color: rgba(27, 27, 27, .5);*/
    /*border: 3px solid #ffb70b;*/
    border-radius: 5px;
    max-width: 900px;
    margin: 50px auto;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.box {
    width: 150px;
    height: 150px;
    padding: 15px;
    margin: 7px;
    display: inline-block;
    background-color: #ffffff;
    /*border: 2px solid #585858;*/
    border-radius: 9px;
    font-size: 120px;
    text-align: center;
    overflow: hidden;
    transition: .3s;
}

.box:hover {
    color: #272727;
    box-shadow: 0px 0px 20px 1px #02b294;
    cursor: pointer;
}


/*================================================================================================
====LIST CREATION CONTAINER=END===================================================================
================================================================================================*/


/*================================================================================================
====Sample Form CONTAINER=======================================================================
================================================================================================*/

#sample-form-container {
    width: 500px;
    min-height: 300px;
    border: 17px dashed #ffffff;
    background-image: linear-gradient(to right, red, yellow);
    margin: 90px auto 0 auto;
}


/*================================================================================================
====Sample Form CONTAINER END=======================================================================
================================================================================================*/